.footer__column-link {
  line-height: 18px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  padding-bottom: 10px;
  display: block;
  text-decoration: none;
}

.footer__column-link:hover {
  color: rgb(75, 73, 73);
}
